<!DOCTYPE html>
<html>
<head>
<style>
	p.one{
		padding: 10px;
	}
	p.two{
		padding: 10px;
	}
	p.three{
		padding: 10px;
	}
</style>
</head>
<% if @item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
 
    <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<body>

	<%= form_for @item do |f| %>
	  <p class="one"><%= f.label(:name, "Item Name") %>
	  <%= f.text_field(:name) %><br></p>
	  <p class="two"><%= f.label(:price, "Price") %>
	  <%= f.text_field(:price) %><br></p>
	  <p class="five"><%= submit_tag("Submit") %></p>
<% end %>
</body>
</html>

